/*
	添加前缀
	使用 @include css3(border-radius, 3px 5px);

	或者自己手动添加
	http://caniuse.com 可以查看支持情况，视情况是否添加前缀。
 */
@font-face {
  font-family: 'sandenamedium';
  src: url('../fontFace/sandena_medium-webfont.eot');
  src: url('../fontFace/sandena_medium-webfont.eot?#iefix') format('rembedded-opentype'), url('../fontFace/sandena_medium-webfont.woff') format('woff'), url('../fontFace/sandena_medium-webfont.ttf') format('truetype'), url('../fontFace/sandena_medium-webfont.svg#sandenamedium') format('svg');
  font-weight: normal;
  font-style: normal; }

.c1 {
  background-color: #40c8be; }

.c2 {
  background-color: #22a5b1; }

.c3 {
  background-color: #f0545c; }

.c4 {
  background-color: #23cf98; }

.c5 {
  background-color: #fe812f; }

.w {
  width: 80%;
  margin: 0 auto; }

.clear:after {
  display: block;
  content: '';
  clear: both;
  line-height: 0;
  visibility: hidden;
  font-size: 0; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sandenamedium, "microsoft yahei";
  color: #fff; }

html {
  font-size: 62.5%; }

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/mlf/71UE144EL07N.jpg);
  background-size: 100%;
  background-attachment: fixed;
  background-position: center top;
  word-break: break-all;
  word-wrap: break-word;
  padding-top: 6rem; }

a {
  text-decoration: none; }
  a:hover {
    color: #f33243; }

table {
  border-collapse: collapse; }

ol, li {
  margin: 0;
  list-style: none; }

h1, h2, h3, h4, h5, h6 {
  position: relative;
  font-weight: normal;
  text-decoration: none; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 2.2rem; }

h3 {
  font-size: 1.8rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.4rem; }

h6 {
  font-size: 1.4rem; }

.top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  padding: 0 18%;
  background-color: #191b1f; }
  .top h1 a {
    float: left;
    padding: 0 1%; }
  .top h1 a:hover {
    background-color: #5ea71a;
    color: #fff; }

nav a {
  float: right;
  padding: 0 2%;
  font-size: 1.4rem;
  text-align: center;
  color: #fff;
  transition: all, .2s; }
  nav a:hover {
    background-color: #5ea71a;
    color: #fff; }


#postRight {
  margin: 0 18%; }
  #postRight .main {
    float: left;
    width: 80%; }
  #postRight article {
    margin: 1rem 0;
    padding: 2% 1% 6%; }
  #postRight .side {
    float: right;
    width: 20%; }
  #postRight .widget {
    padding-top: 12%; }

.main h1 {
  font-weight: normal; }
  .main h1 a {
    text-transform: capitalize; }

.side {
  height: 100%;
  padding: 0 .5%;
  width: 17%; }


#sideleft {
  position: fixed;
  top: 10rem;
  left: 1%; }

#sideright {
  position: fixed;
  top: 10rem;
  right: 1%; }

#sidebottom {
  padding: 3% 18%;
  width: auto; }
  #sidebottom section {
    float: left;
    margin-right: 0.5%;
    width: 33%; }
    #sidebottom section:last-child {
      margin-right: 0; }
  #sidebottom .widget {
    padding: 2%;
    margin-top: 0; }
    #sidebottom .widget a {
      padding: 5px 10px; }
  #sidebottom .link a {
    padding: 2px 4px; }

.widget {
  position: relative;
  padding: 5%;
  padding-bottom: 6%;
  margin: 5% 0;
  border: 1px solid #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  .widget li {
    line-height: 2rem; }
  .widget h3 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.4rem;
    padding-left: 3px;
    background-color: #f33243;
    -webkit-border-top-left-radius: 3px;
    -moz-border-top-left-radius: 3px;
    -ms-border-top-left-radius: 3px;
    -o-border-top-left-radius: 3px;
    border-top-left-radius: 3px; }

.tag li, .category li {
  display: inline-block; }
.tag a, .category a {
  padding: 3px 7px; }
  .tag a:hover, .category a:hover {
    background-color: #f33243;
    color: #fff; }

.link a {
  display: block;
  margin-bottom: 2px; }
  .link a:hover {
    background-color: #f33243;
    color: #fff; }

[data-skin="normal"] article {
  margin: 3% 18%;
  padding: 1% 1% 3%;
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
  transition: all, .3s; }
  [data-skin="normal"] article h1:first-letter, [data-skin="normal"] article h2:first-letter, [data-skin="normal"] article h3:first-letter, [data-skin="normal"] article h4:first-letter, [data-skin="normal"] article h5:first-letter, [data-skin="normal"] article h6:first-letter {
    color: #f33243; }
  [data-skin="normal"] article:hover {
    background-color: rgba(0, 0, 0, 0.2); }
    [data-skin="normal"] article:hover .readMore {
      transform: translate(0); }
  [data-skin="normal"] article:hover [data-skin="normal"] article:before {
    display: none;
    position: static; }
[data-skin="normal"] .pagination:hover {
  background-color: rgba(0, 0, 0, 0.2); }

[data-skin="color"] article {
  margin: 0;
  padding: 3% 18%;
  padding-bottom: 7%;
  position: relative;
  overflow: hidden;
  transition: all, .3s; }
  [data-skin="color"] article:hover {
    padding: 4% 18%;
    padding-bottom: 8%;
    margin-top: -1%; }
    [data-skin="color"] article:hover .readMore {
      transform: translate(0); }
[data-skin="color"] .pagination {
  background-color: #23BBCF; }

.readMore {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.4rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  transform: translate(0, 80px);
  transition: all, .3s; }
  .readMore a {
    display: block; }

.shortContent {
  font-size: 1.6rem;
  line-height: 2.5rem; }

.content {
  font-size: 1.4rem;
  padding: 1rem -0px;
  min-height: 300px; }
  .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    margin: 1% -0px; }
  .content p {
    line-height: 2.5rem; }
  .content ol, .content ul {
    margin-left: 2rem; }
    .content ol li, .content ul li {
      list-style: decimal;
      font-size: 1.4rem;
      line-height: 2.5rem; }
  .content ul li {
    list-style: disc; }
  .content blockquote {
    margin: 1% -0px;
    border-left: 5px solid black; }
    .content blockquote p {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0 1rem; }
  .content pre code {
    padding: 1% 3%;
    position: relative;
    display: block;
    word-break: break-all;
    word-wrap: break-word;
    line-height: 2rem;
    background-color: rgba(0, 0, 0, 0.5); }
    .content pre code:before {
      content: '"';
      font-family: "microsoft yahei";
      font-style: italic;
      font-size: 3rem;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      font-weight: normal;
      position: absolute;
      top: 0;
      left: -10px; }
    .content pre code:after {
      content: '"';
      font-family: "microsoft yahei";
      font-style: italic;
      font-size: 3rem;
      width: 3rem;
      height: 3rem;
      line-height: 3rem;
      text-align: center;
      font-weight: normal;
      position: absolute;
      right: 0;
      bottom: -14px; }
  .content code {
    padding: 2px; }
  .content em, .content strong {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 5px;
    font-style: normal; }
  .content hr {
    border: 0;
    margin: 5% -0px;
    height: 1px;
    line-height: 1px;
    background-color: #f33243; }
  .content img {
    max-width: 100%;
    text-align: center; }

table {
  border: 1px solid #fff;
  width: 100%;
  margin: 1% -0px;
  text-align: center;
  line-height: 3rem; }
  table tr, table th, table td {
    border: 1px solid #fff; }
  table th {
    background-color: rgba(0, 0, 0, 0.3); }

.articleInfo {
  font-size: 1.4rem;
  margin: 1% -0px; }
  .articleInfo span {
    background-color: rgba(0, 0, 0, 0.2);
    margin-right: 5px;
    padding: 2px;
    font-size: 1.3rem; }

.homeTags {
  display: inline-block;
  margin-left: 2rem; }
  .homeTags a {
    display: inline-block;
    margin: 0 5px;
    border-bottom: 1px solid #fff;
    padding: 0 5px; }

.post {
  padding-bottom: 1%; }
  .post .content {
    padding: 2rem 18%; }
    .post .content h1:first-letter, .post .content h2:first-letter, .post .content h3:first-letter, .post .content h4:first-letter, .post .content h5:first-letter, .post .content h6:first-letter {
      color: #f33243; }
  .post a:hover {
    color: #f33243; }

.postTitle {
  line-height: 4rem;
  padding: 2rem 18%;
  background-color: rgba(0, 0, 0, 0.5); }
  .postTitle h1 {
    display: inline-block; }
  .postTitle a {
    margin-left: 2%; }

.toc {
  position: fixed;
  top: 20rem;
  right: 0;
  width: 17%;
  font-size: 1.4rem;
  padding-right: 1%; }
  .toc li {
    line-height: 2rem; }
  .toc .toc-text {
    padding-right: 10px; }
    .toc .toc-text:hover {
      color: #f33243; }

.toc-child {
  text-indent: 1em; }

.prevNext {
  text-align: right;
  margin: 2rem 18%; }
  .prevNext a, .prevNext span {
    width: 50%;
    float: left;
    padding: 1% 2%;
    line-height: 3rem;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all, .2s; }
  .prevNext a:hover {
    background-color: rgba(255, 255, 255, 0.7); }
  .prevNext a:first-child, .prevNext span:first-child {
    border-right: 1px solid #fff; }
  .prevNext .prev, .prevNext .noPrev {
    text-align: left; }

.pagination {
  padding: 3% 18%;
  padding-left: 18%; }
  .pagination a, .pagination span {
    color: #fff;
    margin-right: 1%;
    font-size: 2rem;
    padding: 0 1%; }
  .pagination span {
    color: rgba(255, 240, 240, 0.5); }
  .pagination a:hover {
    color: #f33243; }

/*--------------------------------------------------------------------
// 归档
.archive,.tags {
	padding: 0 $spacebetween;
}
.year,.tagName {
	background-color: $darkbg;
	line-height: 7rem;
	font-size: 4rem;
	margin: 2% -0px;
	padding-left: 1%;
}
.archiveList,.tags {
	ul {}
	li {width: 49.5%; float: left; padding: 0 5%;
		border-top: 5px solid $darkbg;
		margin: 1% -0px; padding: 1%;
		background-color: $darkbg;
		cursor: pointer;
		&:nth-child(2n+1){
			margin-right: 1%;
		}
		&:hover {
			border-color: $archivehoverbdc;
		}
	}
	h2 {margin-bottom: 1%; font-weight: normal;}
}
-------------------------------------------------------------------*/
.archive, .tags {
  margin: 0 18%; }

.archiveList, .archiveList {
  position: relative;
  margin-bottom: 5%;
  min-height: 200px; }
  .archiveList .year, .archiveList .tagName, .archiveList .year, .archiveList .tagName {
    width: 20%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 5% 0;
    font-size: 5rem; }
  .archiveList ul, .archiveList ul {
    padding-left: 20%; }
    .archiveList ul time, .archiveList ul time {
      width: 10%;
      float: left;
      text-align: center; }
    .archiveList ul a, .archiveList ul a {
      width: 90%;
      float: left; }
    .archiveList ul h2, .archiveList ul time, .archiveList ul h2, .archiveList ul time {
      line-height: 2.5rem; }
  .archiveList li, .archiveList li {
    margin: 2% 0; }
    .archiveList li:after, .archiveList li:after {
      display: block;
      content: '';
      clear: both;
      line-height: 0;
      visibility: hidden;
      font-size: 0; }
  .archiveList a, .archiveList a {
    padding: 0% 1%; }
    .archiveList a:hover, .archiveList a:hover {
      background-color: rgba(0, 0, 0, 0.2); }
      .archiveList a:hover h2, .archiveList a:hover p, .archiveList a:hover h2, .archiveList a:hover p {
        color: #f33243; }
  .archiveList p, .archiveList p {
    font-size: 1.4rem; }

.duoshuo {
  margin: 2rem 18%;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 1%; }

.page {
  padding: 3% 18%; }

.btn {
  position: fixed;
  display: none;
  right: 2%;
  bottom: 2%; }
  .btn > div {
    width: 6rem;
    height: 6rem;
    text-align: center;
    line-height: 6rem;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer; }
    .btn > div:first-child {
      border-bottom: 1px solid #fff; }
  .btn .returnHome, .btn .returnTop {
    transition: all, .2s; }
    .btn .returnHome a, .btn .returnTop a {
      display: block; }
    .btn .returnHome:hover, .btn .returnTop:hover {
      color: #000;
      background-color: rgba(255, 255, 255, 0.7); }

@media screen and (max-width: 720px) { }
